.card {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  background-color: var(--element-background);
  color: var(--text-primary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
figure {
  width: 100%;
}
figure img {
  width: 100%;
}
.title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 900;
}
.content {
  font-weight: 300px;
  font-size: 14px;
  color: inherit;
  padding: 25px;
  margin-top: auto;
}
.item label {
  font-weight: 600px;
}
