.back {
  margin: 40px 0;
  background-color: var(--element-background);
  color: var(--text-primary);
  box-shadow: var(--shadow);
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 0 25px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
}
.back span {
  margin-left: 10px;
}
.details {
  display: flex;
  align-items: center;
}
.details figure {
  width: 50%;
  min-width: 50%;
  padding-right: 8%;
}
.details figure img {
  width: 100%;
}
.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 30px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}
.item {
  width: 50%;
}
.items label {
  font-weight: 900;
  color: var(--text-primary);
}

.item span {
  font-weight: 300;
  color: var(--text-secondary);
}
.borders {
  padding-top: 60px;
  display: flex;
}
.borders label {
  display: block;
  white-space: nowrap;
  line-height: 30px;
}
.borders div {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.link {
  display: inline-block;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  background-color: var(--element-background);
  color: var(--text-primary);
  margin: 0 5px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: var(--shadow);
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .item {
    width: 100%;
  }
  .details,
  .borders {
    flex-wrap: wrap;
  }
  .borders div {
    margin: 0 -5px;
  }
  .details figure {
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .borders label {
    display: block;
  }
}
