* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Nunito Sans";
  src: url(https://fonts.google.com/specimen/Nunito+Sans);
} */

:root {
  --background: hsl(0, 0%, 97%);
  --element-background: hsl(0, 0%, 100%);
  --text-primary: hsl(200, 15%, 8%);
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --element-background: hsl(209, 23%, 22%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: grey;
  --accent: darkred;
}
body {
  font-family: "Nunito Sans";
  background-color: var(--background);
  color: var(--text-primary);
  height: 100%;
}
html,
body,
#root {
  height: 100%;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.app {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100%;
  overflow: auto;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 75px 15px;
}
